<div class="card border-0 mt-2" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img src="https://docs.google.com/uc?id=1Ibe3ELq8YH25Q2R5FRCM7hD9l3-oe-w0" class="card-img-top w-75" alt="Imagem perfil do card">
  </div>

  <div class="card-body mt-2">
    <h5 class="card-title text-center text-monospace">{{ nome }}</h5>
    <p class="card-text text-center text-monospace">Desenvolvedor Full Stack Java</p>
    <a href="https://www.linkedin.com/in/felipe-borges-caetano-78627416a/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
    <a href="https://github.com/caetano-felipe" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>
  </div>
</div>
