<div class="container w-100">
  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center"> Sejam bem vindos ao meu blog! </h1>
    </div>
  </div>
  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam cupiditate natus minus ducimus, ad odio nostrum vitae, necessitatibus aperiam distinctio autem tenetur fuga asperiores qui sint perspiciatis earum rem porro!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid hic eaque labore libero, incidunt inventore sequi! Maiores ullam sequi ex, minus ducimus perferendis ipsa quos incidunt adipisci earum laudantium perspiciatis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque sint perspiciatis soluta velit recusandae sit? Velit iure exercitationem repudiandae dolore dolores eaque consequuntur, corrupti aliquam non ab tempore totam.
      </p>
    </div>
  </div>
</div>
  <div class="parallax"></div>
  <div class="row mt-5 w-100 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>
